

body {
    background-image: url(StartupBus One-pager.png);
    color: #423d3a;
font-family: helvetica;
Font-size: 14px;
Line-height: 21px;

}
body {
font: 14px;
Line-height: 21px;
Width: 700px;
Margin: 28px;
}
